body{
    display: flex;
}

.addItem{

    width: 200px;
    height: 500px;
    
    display: left;
}


.itemList{
    
        width: 300px;
        height: auto;
        border: 1px solid black;
        display: right;


 }

 .totalCost{
     width: auto;
     height:10%;
     border: 1px solid black;
 }